apiVersion: v1
kind: Namespace
metadata:
  name: bukhara-travel
  labels:
    name: bukhara-travel
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mssql-data-pvc
  namespace: bukhara-travel
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
---
apiVersion: v1
kind: Service
metadata:
  name: mssql-service
  namespace: bukhara-travel
spec:
  type: NodePort
  ports:
    - port: 1433
      targetPort: 1433
      nodePort: 31433
  selector:
    app: mssql
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mssql-deployment
  namespace: bukhara-travel
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mssql
  template:
    metadata:
      labels:
        app: mssql
    spec:
      containers:
        - name: mssql
          image: mcr.microsoft.com/mssql/server:2022-latest
          ports:
            - containerPort: 1433
          env:
            - name: ACCEPT_EULA
              value: "Y"
            - name: SA_PASSWORD
              value: "M@sterH!de"
            - name: MSSQL_PID
              value: "Express"
          volumeMounts:
            - name: mssql-storage
              mountPath: /var/opt/mssql
          resources:
            limits:
              memory: "4Gi"
              cpu: "2.0"
            requests:
              memory: "2Gi"
              cpu: "1.0"
      volumes:
        - name: mssql-storage
          persistentVolumeClaim:
            claimName: mssql-data-pvc